---
import '@/styles/base.css'
import Posthog from "./scripts/posthog.astro";
import DarkMode from './scripts/darkMode.astro';

const siteName = import.meta.env.SITE_NAME

const { 
    title = "This Page",
    description = "Metadescription",
    noindex = false,
    nofollow = false,
    canonical = String(new URL( Astro.url.pathname, Astro.site)),
    img = {src:"/social.webp", alt: title},
    ogType = "website"
} = Astro.props 


let robots =  'index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1'
if (noindex){
  robots = "noindex"
} else if(nofollow){
  robots = "index, nofollow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
}

---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{title}</title>
<meta name="description" content={description} />
<meta name="robots" content={robots} />
<link rel="canonical" href={canonical} />

<!-- Open Graph -->
<meta property="og:site_name" content={siteName} />
<meta property="og:type" content={ogType} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonical} />
<meta property="og:image" content={img.src} />
<meta property="og:image:alt" content={img.alt} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<!-- <meta name="twitter:image" content={img.src} />
<meta name="twitter:image:alt" content={img.alt} /> -->
<!-- The og:image should work -->
<!-- Rererence: https://developer.x.com/en/docs/x-for-websites/cards/guides/getting-started -->

<!-- Favicons -->
<!-- <link rel="icon" sizes="32x32" href="/favicon.ico"> -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<!-- <link rel="manifest" href="/favicons/site.webmanifest" crossorigin="use-credentials" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#0079c1" /> -->
<!-- <meta name="msapplication-TileColor" content="#ffffff" />
<meta name="theme-color" content="#ffffff" /> -->
<!-- Learn more at https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs and https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7 -->

<meta name="generator" content={Astro.generator} />
<!-- <link rel="sitemap" href="/sitemap-index.xml"> -->

<script>
//Script to forward query strings to all the links on the page
document.addEventListener('DOMContentLoaded', () =>{
  if (window.location.search){
    const newParams = new URLSearchParams(window.location.search)
    document.querySelectorAll("a").forEach(item => {

        let href = item.href
        let hashLink = item.getAttribute("href")?.startsWith("#")
        
      if (href && !hashLink){
          
          let link = new URL(href)
          const isInternal = link.origin === window.location.origin
          
          newParams.forEach((value, key) => {link.searchParams.set(key,value)})
          let newFullURL =  link.toString()
          
          item.href = isInternal ? newFullURL.replace(window.location.origin,"") : newFullURL
        }
    })
}
})
</script>

<Posthog />

<DarkMode />